<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>
<body class="index-body">
    <main class="hp-main">
        <section class="hp-first-sec">
            <img src="" alt="">
            <h1>Home Page</h1>
        </section>
        <section class="hp-second-sec">
            <h4 class="sign-up" id="signUp"><a href="/register"> Sign <br> Up</a></h4>
            <h4 class="sign-in" id="signIn"><a href="/login"> Sign <br> In</a></h4>
        </section>
    </main>
</body>
</html>