<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Page</title>
</head>
<body class="si-body">
    <main class="si-main">
        <header>
            <h1>SIGN IN</h1>
        </header>
        <section>
            <form class="si-form">
                <div class="error"></div>
                <input type="text" id="username" class="input-placeholder" placeholder="Username" required><br>
                <input type="password" id="password" class="input-placeholder" placeholder="Password" required><br>
                <button type="submit" class="si-button">Login</button>
            </form>
        </section>
        <section class="si-footer">
            <p>Don't have an account?</p>
            <h3><a href="/register">SIGN UP</a></h3>
        </section>
    </main>

    <script src="/js/login.js"></script>
</body>
</html>